@charset "UTF-8";
/* этот сайт защищен авторским правом
Версия: 1.0.2. */
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);
:root {
  --textWhite: #fff;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

.none {
  display: none !important;
}

.container {
  max-width: 978px;
  padding: 0 15px;
  margin: 0 auto;
}

.accent {
  color: var(--accent-color);
}

/* Для .block__body
1. 20px минимальный размер в данном случае для paddinga который я хочу увидеть на разрешение для адаптива на 320px
2. 50 это начальное значение и от него отнимаем минимальное
3. 1200 ширина ограничевающего контейнера */
/* 
1. 20px минимальный размер в данном случае для paddinga который я хочу увидеть на разрешение для адаптива на 320px
2. 50 это начальное значение и от него отнимаем минимальное
3. 1200 ширина ограничевающего контейнера */
.header {
  position: relative;
  height: 100vh;
  background-color: #c4c4c4;
  color: var(--textWhite);
}

.header-slider::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(181.06deg, rgba(0, 0, 0, 0.2) 0.91%, rgba(255, 255, 255, 0) 116.71%, rgba(255, 255, 255, 0) 116.72%);
}
.header-slider .header-slider__item {
  position: relative;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-slider__img-bg {
  width: 100%;
  height: 100%;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 58px 88px 0 75px;
  width: 100%;
}
.header-nav .header-nav__logo .header-nav__logo-img1 {
  padding-right: 11px;
}
.header-nav .header-nav__logo .header-nav__logo-img2 {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}
.header-nav .header-nav__menu .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 65px;
     -moz-column-gap: 65px;
          column-gap: 65px;
}
.header-nav .header-nav__menu .header-nav__link {
  color: var(--textWhite);
}
.header-nav .header-nav__menu .header-nav__link:hover, .header-nav .header-nav__menu .header-nav__link:active, .header-nav .header-nav__menu .header-nav__link:focus {
  opacity: 0.5;
}
.header-title .header-subTitle {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.55em;
  opacity: 0.7;
  color: var(--textWhite);
}
.header-title .header-mainTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 250px;
  line-height: 305px;
  background: linear-gradient(15.06deg, #000000 -3.87%, rgba(255, 255, 255, 0) 36.89%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/*# sourceMappingURL=main.css.map */