@media (max-width: 1650px) {
  .header-title {
    .header-subTitle {
      font-size: 20px;
    }
    .header-mainTitle {
      font-size: 150px;
    }
  }
  .tip {
    width: 22%;
    padding: 34px 30px 26px 55px;
    background-position: 10px 40px;
  }
}

@media (max-width: 1140px) {
  .header-nav {
    padding: 58px 40px 0 40px;
    .header-nav__menu {
      .header-nav__list {
        display: none;
      }
    }
  }
  .header-tips {
    visibility: hidden;
  }
  .tip {
    width: 0;
    height: 0;
    padding: 0;
  }

  .header-title {
    .header-subTitle {
      font-size: 20px;
    }
    .header-mainTitle {
      font-size: 100px;
    }
    .header-socials {
      .header-socials__item {
        padding-left: 40px;
        padding-bottom: 24px;
      }
    }
  }
  .header-seemore {
    left: 51px;
  }

  // burger
  .header-nav__menu.open .header-nav__list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 46px 30px;

    background-color: black;

    display: flex;
    flex-direction: column;
    row-gap: 40px;
    font-size: 34px;
    font-weight: 600;
    line-height: 51px;
    letter-spacing: 0em;

    font-size: 28px;
    font-weight: 600;
  }
}

@media (max-width: 800px) {
  .header-socials__icon,
  .header-seemore,
  .header-slider-control {
    display: none;
  }
  .header-nav__extra {
  }
}

@media (max-width: 500px) {
  .header-title {
    .header-subTitle {
      font-size: 15px;
    }
    .header-mainTitle {
      font-size: 50px;
    }
  }
}
