.header-slider {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      181.06deg,
      rgba(0, 0, 0, 0.2) 0.91%,
      rgba(255, 255, 255, 0) 116.71%,
      rgba(255, 255, 255, 0) 116.72%
    );
  }

  .header-slider__item {
    // position: relative;

    height: 100vh;
    object-fit: cover;
  }
}

.header-slider-control {
  z-index: 9;
  position: absolute;
  right: 50px;
  bottom: 77px;

  display: grid;
  gap: 15px;
}

.header-slider-control__arrow {
  display: flex;
  gap: 5px;
}

.header-slider-control__count {
  padding-left: 16px;
  display: flex;
  gap: 6px;
  align-items: flex-end;

  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: 22px;
  // line-height: 1;
  font-weight: 600;
  text-align: right;
}
.header-slider-control__current {
  font-size: 32px;
  color: rgba(255, 255, 255, 1);
  line-height: 34px;
}
.header-slider-control__total {
}

// ============================

.tns-nav {
  position: absolute;
  z-index: 9;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
}

.tns-nav button {
  display: block;
  width: 3px;
  height: 80px;
  // height: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.tns-nav button.tns-nav-active {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px 3px 0px 0px;
}

@media (max-width: 800px) {
  .header-slider-control {
    display: none;
  }
  .tns-nav {
    display: flex;
    top: unset;
    right: unset;

    left: 50%;
    transform: translateX(-50%);
    bottom: 30%;
  }
  .tns-nav button {
    // width: 2px;
    // height: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    height: 3px;
    width: 60px;
    flex-shrink: 0;
  }
}

@media (max-width: 500px) {
  .tns-nav {
    bottom: 30%;
  }
  .tns-nav button {
    height: 3px;
    width: 40px;
  }
}
